- if user_signed_in?
  %body
  .hero
    .container
      %h1 Welcome to Bookify #{current_user.email}!
      %p Simplify your booking process through our platform
      %a= link_to "Book Now", bookings_path

  .ai-tool
    .container
      %h2 Discover Exciting Activities with Our AI Tool
      %p Let our AI suggest activities for you to enjoy once booked!
      %a.cta-btn{href: "#"} Try Our AI Tool
- else
  %h1 Welcome!
  %h2 Sign up or Login with an existing account
