%footer.footer
  .container
    %p
      &copy; #{Date.today.year} Bookify. All rights reserved.
    %nav
      %ul.nav{ style: "list-style: none; padding: 0;" }
        -#   TODO: add contactpage
        %li.nav-item
          = link_to "Contact", root_path,  class: 'nav-link'
        -#   TODO: add About page
        %li.nav-item
          = link_to "About", root_path, class: 'nav-link'
