%footer.footer
  .container
    %p
      &copy; #{Date.today.year} Bookify. All rights reserved.
    %nav
      %ul.nav{ style: "list-style: none; padding: 0;" }
        %li.nav-item
          %a.nav-link{ href: root_path } About Us
        %li.nav-item
          %a.nav-link{ href: root_path } Contact
